<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vendorname/Extensionname/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebird_tab" translate="label" sortOrder="1000">
            <label>Magebird Extensions</label>
        </tab>
        <section id="magebird_popup" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Popup</label>
            <tab>magebird_tab</tab>
            <resource>Magebird_Popup::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Extension licence</label>  
              <field id="licence_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Licence Key</label>
                  <backend_model>Magebird\Popup\Model\Config\Source\Config</backend_model>                  
              </field>              
            </group>
            <group id="services" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Newsletter services</label>
              <field id="enablemagento" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's email to the Magento Newsletter list</label>
                  <comment><![CDATA[The subscriber's email is added to the Magento list by default. If you use any external newsletter service from the below list, disable this option.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="enablemailchimp" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Mailchimp</label>
                  <comment><![CDATA[Choose yes if you want to use Mailchimp integration.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="mailchimp_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailchimp Api Key</label>
                  <comment><![CDATA[Write only if you use MailChimp service, otherwise leave empty. Go to <a target="_blank" href="http://admin.mailchimp.com/account/api/">http://admin.mailchimp.com/account/api/</a> to find the key.]]></comment>
                  <depends><field id="*/*/enablemailchimp">1</field></depends>
              </field>     
              <field id="mailchimp_double_option" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailchimp Double Opt-in</label>
                  <comment><![CDATA[If yes, user needs to confirm subscription. Read more about MailChimp The Double Opt-in Process <a target="_blank" href="http://kb.mailchimp.com/lists/signup-forms/the-double-opt-in-process">here</a>.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  <depends><field id="*/*/enablemailchimp">1</field></depends>
              </field>                                                                                                                                                                            
            </group>            
        </section>
    </system>
</config>