<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vendorname/Extensionname/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebird_tab" translate="label" sortOrder="1000">
            <label>Magebird Extensions</label>
        </tab>
        <section id="magebird_popup" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Popup</label>
            <tab>magebird_tab</tab>
            <resource>Magebird_Popup::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Extension licence</label>  
              <field id="licence_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Licence Key</label>
                  <backend_model>Magebird\Popup\Model\Config\Source\Config</backend_model>                  
              </field>              
            </group>
            <group id="services" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
              <label>Newsletter services</label>
              <field id="enablemagento" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's email to the Magento Newsletter list</label>
                  <comment><![CDATA[The subscriber's email is added to the Magento list by default. If you use any external newsletter service from the below list, disable this option.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="enablemailchimp" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Mailchimp</label>
                  <comment><![CDATA[Choose yes if you want to use Mailchimp integration.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="mailchimp_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailchimp Api Key</label>
                  <comment><![CDATA[Write only if you use MailChimp service, otherwise leave empty. Go to <a target="_blank" href="http://admin.mailchimp.com/account/api/">http://admin.mailchimp.com/account/api/</a> to find the key.]]></comment>
                  <depends><field id="*/*/enablemailchimp">1</field></depends>
              </field>     
              <field id="mailchimp_double_option" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailchimp Double Opt-in</label>
                  <comment><![CDATA[If yes, user needs to confirm subscription. Read more about MailChimp The Double Opt-in Process <a target="_blank" href="http://kb.mailchimp.com/lists/signup-forms/the-double-opt-in-process">here</a>.]]></comment>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  <depends><field id="*/*/enablemailchimp">1</field></depends>
              </field>
              <field id="enablecampaignmonitor" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Campaignmonitor</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field> 
              <field id="campaignmonitor_key" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Campaign Monitor Api Key</label>
                  <comment><![CDATA[<a target="_blank" href="http://help.campaignmonitor.com/topic.aspx?t=206">Where you can find Campaign Monitor api key?</a>]]></comment>
                  <depends><field id="*/*/enablecampaignmonitor">1</field></depends>
              </field>    
              <field id="enablegetresponse" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to GetResponse</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field> 
              <field id="getresponse_key" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>GetResponse Api Key</label>
                  <comment><![CDATA[Write only if you use GetResponse service, otherwise leave empty. You can find GetResponse api key inside your GetResponse account (My account>>Account details>>API & oAuth).]]></comment>
                  <depends><field id="*/*/enablegetresponse">1</field></depends>
              </field>        
              <field id="enableactivecampaign" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to ActiveCampaign</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field> 
              <field id="activecampaign_key" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>ActiveCampaign Api Key</label>
                  <comment><![CDATA[Write only if you use ActiveCampaign service, otherwise leave empty. You can find key <a target="_blank" href="https://magebird.activehosted.com/admin/main.php?action=settings#tab_api">here</a>.]]></comment>
                  <depends><field id="*/*/enableactivecampaign">1</field></depends>
              </field>   
              <field id="activecampaign_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>ActiveCampaign Api Url</label>
                  <comment><![CDATA[Write only if you use ActiveCampaign service, otherwise leave empty. You can find url <a target="_blank" href="https://magebird.activehosted.com/admin/main.php?action=settings#tab_api">here</a>.]]></comment>
                  <depends><field id="*/*/enableactivecampaign">1</field></depends>
              </field>                 
              <field id="enablesendy" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Sendy</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field> 
              <field id="sendy_key" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Sendy Api Key</label>
                  <comment><![CDATA[You can find the Api Key inside Sendy Settings]]></comment>
                  <depends><field id="*/*/enablesendy">1</field></depends>
              </field>   
              <field id="sendy_url" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Sendy Installation Url</label>
                  <comment><![CDATA[Url where Sendy is installed (e.g. http://www.example.com).]]></comment>
                  <depends><field id="*/*/enablesendy">1</field></depends>
              </field>    
              <field id="enable_phplist" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to phpList</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="phplist_url" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Phplist url</label>
                  <comment><![CDATA[Url where phplist is installed]]></comment>
                  <depends><field id="*/*/enable_phplist">1</field></depends>
              </field>   
              <field id="phplist_username" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Phplist admin username</label>
                  <depends><field id="*/*/enable_phplist">1</field></depends>
              </field>   
              <field id="phplist_password" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Phplist admin password</label>
                  <depends><field id="*/*/enable_phplist">1</field></depends>
              </field>   
              <field id="phplist_confirmed" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Automatically confirmed?</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  <depends><field id="*/*/enable_phplist">1</field></depends>
              </field>  
              <field id="enable_klaviyo" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Klaviyo Api Key</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="klaviyo_key" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Klaviyo Api Key</label>
                  <depends><field id="*/*/enable_klaviyo">1</field></depends>
              </field>   
              <field id="klaviyo_double_option" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Klaviyo Double Opt-in</label>
                  <comment><![CDATA[If yes, user needs to confirm subscription.]]></comment>
                  <depends><field id="*/*/enable_klaviyo">1</field></depends>
              </field>     
              <field id="enable_mailjet" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Mailjet</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="mailjet_key" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailjet Api Key</label>
                  <depends><field id="*/*/enable_mailjet">1</field></depends>
              </field>   
              <field id="mailjet_secret_key" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Mailjet Secret Key</label>
                  <depends><field id="*/*/enable_klaviyo">1</field></depends>
              </field>      
              <field id="enable_emma" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Emma</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="emma_public_key" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Emma Public Api Key</label>
                  <comment><![CDATA[You can find the Key inside Emma <a href="https://app.e2ma.net/app2/billing/settings/">Account Settings</a>]]></comment>
                  <depends><field id="*/*/enable_emma">1</field></depends>
              </field>   
              <field id="emma_private_key" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Emma Private Api Key</label>
                  <comment><![CDATA[You can find the Key inside Emma <a href="https://app.e2ma.net/app2/billing/settings/">Account Settings</a>]]></comment>
                  <depends><field id="*/*/enable_emma">1</field></depends>
              </field>      
              <field id="emma_account_id" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Emma Account Id</label>
                  <comment><![CDATA[You can find the Key inside Emma <a href="https://app.e2ma.net/app2/billing/settings/">Account Settings</a>]]></comment>
                  <depends><field id="*/*/enable_emma">1</field></depends>
              </field>   
              <field id="emma_send_optin" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>>Emma Send Optin confirmation</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  <comment><![CDATA[Do you want to send opt-in e-mail confirmation?]]></comment>
                  <depends><field id="*/*/enable_emma">1</field></depends>
              </field>                                                                                                            
               <field id="enable_mailerlite" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to MailerLite</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field> 
               <field id="mailerlite_apiKey" translate="label" type="text" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>MailerLite api key</label>
                  <comment><![CDATA[API key can be obtained from Integrations page when you are logged into MailerLite application or click <a target="_blank" href="https://app.mailerlite.com/integrations/api/">here</a>.]]></comment>
                  <depends><field id="*/*/enable_mailerlite">1</field></depends>
              </field>  
              
               <field id="enable_aweber" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to AWeber</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>  
              <field id="aweber_consumerKey" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>AWeber consumer key</label>
                            <comment><![CDATA[Create your own APP <a target="_blank" href="https://labs.aweber.com/">here</a> or leave the secret and key setted to magebird AWeber App.<br /><br />After saving secret and key go to this <a href="/magebird_popup/index/aweber" target="_blank">link</a> where your new App to your AWeber account. You should check premission settings -> Request Subsriber Data should be checked, if not the magebird extension can't check if email is already subsribed.]]>
                            </comment>
                  <depends><field id="*/*/enable_aweber">1</field></depends>
              </field>
                <field id="aweber_consumerSecret" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>AWeber consumer secret</label>
                  <depends><field id="*/*/enable_aweber">1</field></depends>
              </field>
               <field id="aweber_token_key" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>AWeber access token</label>
                  <depends><field id="*/*/enable_aweber">1</field></depends>
              </field>
              <field id="aweber_token_secret" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>AWeber access secret</label>
                  <depends><field id="*/*/enable_aweber">1</field></depends>
              </field>
              <field id="enable_dotmailer" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Dotmailer</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>   
              <field id="dotmailer_api_endpoint" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Dotmailer API endpoint</label>
                  <comment><![CDATA[To find API endpoint navigate in your Dotmailer account to Access->API users]]></comment>
                  <depends><field id="*/*/enable_dotmailer">1</field></depends>
              </field>              
              <field id="dotmailer_email" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Dotmailer api email</label>
                  <depends><field id="*/*/enable_dotmailer">1</field></depends>
              </field>   
              <field id="dotmailer_password" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Dotmailer password</label>
                  <comment><![CDATA[Make sure you also submited address book id inside newsletter widget in popup editor!]]></comment>
                  <depends><field id="*/*/enable_dotmailer">1</field></depends>
              </field> 
               <field id="enable_nuevomailer" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Add Subscriber's e-mail to Nuevomailer</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
              </field>                
               <field id="nuevomailer_url" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Nuevomailer url</label>
                  <comment><![CDATA[Specify the url of directory where Nuevomailer is installed (e.g.:http://www.yourdomain.com/mailer_dir/). Make sure you also submited list id inside newsletter widget in popup editor!]]></comment>
                  <depends><field id="*/*/enable_nuevomailer">1</field></depends>
              </field>
               <field id="nuevomailer_api_key" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Nuevomailer url</label>
                  <comment><![CDATA[Copy it from your admins table]]></comment>
                  <depends><field id="*/*/enable_nuevomailer">1</field></depends>
              </field>              
               <field id="nuevomailer_optin" translate="label" type="select" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                  <label>Use double Optin?</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                  <depends><field id="*/*/enable_nuevomailer">1</field></depends>
              </field>                                                                                                                                                                             
            </group>            
        </section>
    </system>
</config>