.cssLoadedChecker2.moctod-dribegam{
  display:none; /*DONT CHANGE THIS LINE! jQuery use this to check if css is loaded*/              
}

.newsletterPopup.tp3 form input {
    width: 100%;
    height: 37px;
    padding-left:5px;
    font-size: 15px;
    font-weight:bold;
    border: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.28) inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;      
}

.newsletterPopup.tp3 form input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.newsletterPopup.tp3 form button {
    overflow: visible;
    position: absolute;
    top:4px;
    right:0px;
    padding: 0 4px;
    cursor: pointer;
    height: 28px;
    font-size: 15px;
    font-weight:bold;     
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.1);           
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, 0.2);
}  